<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        </head><body>{% include "headers.html" %}
        <title>Test Website</title>
    
    
        {% include "navbar.html" %}
        <h1>Test Home</h1>
        <h2>{{ name }}</h2>
        <div class="container"> <!-- for the grid junk -->
            <div class="row">
                <div class="full">
                    <p>This domain is for me to test HTML, CSS, JavaScript, and Flask.</p>
                    <hr>
                    <p>Because of this, I'm going to try to implement a forum and some form of social media. Basically, this will become MySpace.</p>
                </div>
            </div>
        </div>
    
</body></html>