<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><div class="navbar">
    <a href="https://www.pythonanywhere.com/" class="padded-sides">
        Home
    </a>
    <a href="https://www.pythonanywhere.com/signup" class="padded-sides">
        Sign Up
    </a>
    <a href="https://www.pythonanywhere.com/login" class="padded-sides">
        Log In
    </a>
    <a href="https://www.pythonanywhere.com/post" class="padded-sides">
        Make a Post
    </a>
    <a href="https://www.pythonanywhere.com/posts" class="padded-sides">
        View Users
    </a>
    <a href="https://www.pythonanywhere.com/settings" class="padded-sides">
        User Settings
    </a>
</div></body></html>