<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        </head><body>{% include "headers.html" %}
        <title>Sign Up</title>
    
    
        {% include "navbar.html" %}
        <h1>Sign Up</h1>
        <form method="POST">
            <label for="name">Username</label>
            <br>
            <input name="name" \="">
            <br>
            <label for="password">Password</label>
            <br>
            <input name="password" type="password" \="">
            <br>
            <button>Submit</button>
        </form>
    
</body></html>